.field-count
    input(type="number" placeholder="1 м")
    .field-count__action 
        button.field-count__action-button.field-count__action-button--plus +
        button.field-count__action-button.field-count__action-button--minus -