.career-section
    .career-section__container 
        .career-section__header 
            h2.career-section__title 
            p.career-section__subtitle 
        .career-section__main 
                .career-section__item 
                    .career-section__item-image 
                        img(src="img/icons/smile.webp", alt="Сделать упор на говорение?", width="40", height="40")
                    p.career-section__item-text Сделать упор на говорение?
                .career-section__item 
                    .career-section__item-image 
                        img(src="img/icons/headphone.webp", alt="Попрактиковаться в listening, потому что надоело смотреть Netflix с субтитрами?", width="40", height="40")
                    p.career-section__item-text Попрактиковаться в listening, потому что надоело смотреть Netflix с субтитрами?
                .career-section__item 
                    .career-section__item-image 
                        img(src="img/icons/english-icon.webp", alt="Отправить ребенка учиться заграницу или планируете сдачу IELTS сами?", width="40", height="40")
                    p.career-section__item-text Отправить ребенка учиться заграницу или планируете сдачу IELTS сами?
                .career-section__item 
                    .career-section__item-image 
                        img(src="img/icons/celebrate.webp", alt="Рассказывайте о поставленных целях, а мы совместно будем их достигать.", width="40", height="40")
                    p.career-section__item-text Рассказывайте о поставленных целях, а мы совместно будем их достигать.
                    .career-section__item-button 
                        +button("Записаться", "button--medium", 'open', 'sign-up-lesson')