section.it-section
    .it-section__container 
        h2.it-section__title IT-трек для каждого школьника
        .it-section__main 
            .it-section__col
                +it-card("img/it-card/unity.webp", "Разработка в cреде Unity 3D")
            .it-section__col    
                +it-card("img/it-card/game-dev.webp", "Стартовый курс по программированию игр")
            .it-section__col
                +it-card("img/it-card/swift.webp", "IOS-разработка в среде Swift")
            .it-section__col
                +it-card("img/it-card/python.webp", "Разработка чат-ботов на языке Python")
            .it-section__col
                +it-card("img/it-card/roblox.webp", "Программирование в Roblox")
            .it-section__col
                +it-card("img/it-card/minecraft.webp", "Разработка модов для Minecraft")