.why-section
    .why-section__container
        h2.why-section__title Почему нас выбрали более 1000 учеников?
        .why-section__main 
            include ../../why-card/why-card-motivation
            include ../../why-card/why-card-time
            include ../../why-card/why-card-winners
                   