section.for-whom-section
    .for-whom-section__container 
        .for-whom-section__header
            h2.for-whom-section__title Для кого мы ведем занятия?
        .for-whom-section__main 
            +for-whom-card("img/for-whom-card/lesson.svg", "Детям", "Основы логики для программирования, основы языков программирования, решение базовых заданий.", "for-whom-card--green")
            +for-whom-card("img/for-whom-card/designer.svg", "Школьникам", "Решение олимпиадных задач по программированию, выполнение практических задач на Python, в среде Swift, веб-разработка сайтов.", "for-whom-card--orange")
            +for-whom-card("img/for-whom-card/career.svg", "Взрослым", "Карьерный трек, переезд, путешествия и говорение.", "for-whom-card--purple")
            