section.for-whom-section.for-whom-section--beige
    .for-whom-section__container 
        .for-whom-section__header
            h2.for-whom-section__title Программы для начинающих
            p.for-whom-section__subtitle Не знаете с чего начать? Оставьте заявку и мы подберем интересную программу для вашего ребенка.
        .for-whom-section__main 
            +for-whom-card("img/for-whom-card/lesson.svg", "Детям", "Основы логики для программирования, основы языков программирования, решение базовых заданий.", "for-whom-card--green")
            +for-whom-card("img/for-whom-card/designer.svg", "Школьникам", "Решение олимпиадных задач по программированию, выполнение практических задач на Python, в среде Swift, веб-разработка сайтов.", "for-whom-card--orange")
            