section.program-section
    .program-section__container 
        h2.program-section__title Мы разработали эффективные программы обучения по важнейшим направлениям:
        .program-section__grid
           
                +program-card("img/program-card/math.svg", "Математика", "Подготовим к сдаче ЕГЭ по математике. Сделаем упор на решение типовых сдач из профильной математики.", "program-card--purple")
                  
                +program-card("img/program-card/physics.svg", "Физика", "Мы не обещаем объяснить в двух словах физику, но мы точно улучшим знания школьника за время занятий.", "program-card--green")
                   
                +program-card("img/program-card/computer.svg", "Компьютерные<br>науки", "Хочешь научиться кодингу, но не знаешь, с чего начать? Тогда ты в правильном месте. Программирование – это легко.", "program-card--yellow")
                  
                +program-card("img/program-card/english.svg", "Английский<br>язык", "Тот самый язык, которого не нужно бояться. Начните изучать английский язык с WeScience уже сегодня.", "program-card--blue")