section.features-section
    .features-section__container
        .grid
            .grid__col-6-sm.grid__col-3-md
                +feature("img/feature/level.svg", "Выясняем, какой уровень&nbsp;учащегося", "На какие темы стоит сделать акцент в обучении. Чаще всего на все :)")
            .grid__col-6-sm.grid__col-3-md
                +feature("img/feature/support.svg", "Индивидуальный подход к обучению", "Проводим занятия так, чтобы учащийся был мотивирован к росту")
            .grid__col-6-sm.grid__col-3-md
                +feature("img/feature/cheklist.svg", "Проведем первое тестирование", "Чтобы определить уровень ученика")
            .grid__col-6-sm.grid__col-3-md
                +feature("img/feature/flags.svg", "Подготовим к экзаменам и&nbsp;олимпиадам", "Точно знаем, как сдавать экзамены, ведь мы сами сдали их на 100 баллов")