section.technology-section
    .technology-section__container 
        h2.technology-section__title Все говорят о технологиях. Почему же это важно?
        .technology-section__main 
            ul.technology-section__col
                li.technology-section__item 
                    span.technology-section__item-text. 
                        Логически и структурно мыслить с самого детства. Можно решить проблему 1000 строчками кода, а можно - 2000.
                li.technology-section__item 
                    span.technology-section__item-text. 
                        После многих часов занятий (мы смотрим на вещи реально) ученик будет способен написать сайт своими руками.
                li.technology-section__item 
                    span.technology-section__item-text. 
                        Каждый год потребность в специалистах в IT-сфере растет по экспоненте по сравнению с другими специальностями.
            ul.technology-section__col
                li.technology-section__item 
                    span.technology-section__item-text. 
                        Можно работать из любой точки мира, а график работы выбирать самому. Главное – закрыть задачи.
                li.technology-section__item 
                    span.technology-section__item-text. 
                        Очень умное и интересное сообщество людей, которые заходят в GitHub или  Stackoverflow чаще, чем в Wikipedia.
                li.technology-section__item 
                    span.technology-section__item-text. 
                        Ученик перестанет бояться и поймет, что технологии это классно, интересно, и очень перспективно!
        .technology-section__button 
            +button("Оставить заявку", null, "open", "request")