.field-select
    label(for="field-select") Ваш город
    .field-select__wrapper
        select.field-select__select(id="field-select")
            option Можайск
            option Одинцово
            option Красногорск