mixin lecturer-card(img, name, position)
    .lecturer-card
        .lecturer-card__image
            .lecturer-card__image-inner
                img(src= img, alt= name)
        p.lecturer-card__name= name
        p.lecturer-card__position= position