include ../mixins/svg

ul.social
    li.social__item 
        a.social__link.social__link--telegram(href="#") 
            +svg('18', '18', 'icon-telegram')
    li.social__item 
        a.social__link.social__link--vk(href="#") 
            +svg('18', '18', 'icon-vk')
    li.social__item 
        a.social__link.social__link--instagram(href="#") 
            +svg('18', '18', 'icon-instagram')
    li.social__item 
        a.social__link.social__link--facebook(href="#") 
            +svg('18', '18', 'icon-facebook')
