section.task-section
    .task-section__container  
        h2.task-section__title  Предлагаем попробовать решить интересную задачку
        .task-section__content
            .task-section__content-row
                .task-section__content-image.task-section__content-image--purple
                    img(src="img/icons/woman-teacher.webp", alt="Учитель", width="40", height="40")
                .task-section__content-text В стране Кидцуния любые два города соединены дорогой с односторонним движением.
            .task-section__content-row
                .task-section__content-image
                    img(src="img/icons/man.webp", alt="Ученик отвечает", width="40", height="40")
                .task-section__content-text.task-section__content-text_bold Докажите, что можно проехать по всем городам, побывав в каждом по одному разу.
            .task-section__button 
                +button("Стать самым сильным по математике", null, "open", "sign-up-lesson")
        .task-section__left
        .task-section__right
        .task-section__line
            svg(viewBox="0 0 901 29" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M2 2L36.3446 27H862.635L899 2" stroke="#B0C1FF")


