.why-card.why-card--time
    .why-card__image
        img(src="img/why-us/time.svg", alt="В удобное время", width="254", height="148")
    .why-card__content 
        h5.why-card__title В удобное время
        p.why-card__description Ты можешь выбрать любое удобное время для занятий и улучшать знания из любой точки мира.

    