.why-card.why-card--reverse.why-card--winner
    .why-card__image
        img(src="img/why-us/winners.svg", alt="Награждаем за успехи", width="254", height="148")
    .why-card__content 
        h5.why-card__title Награждаем за успехи
        p.why-card__description За домашки и за усилия в решении задач, мы разработали систему Science-коинов, которые можно обменять на стикеры, материалы для занятий, поход в музей и крутой мерч.

    