.why-card.why-card--reverse.why-card--motivation 
    .why-card__image
        img(src="img/why-us/motivation.svg", alt="Мотивируем на рост и улучшение знаний", width="254", height="148")
    .why-card__content 
        h5.why-card__title Мотивируем на рост и улучшение знаний
        p.why-card__description Мы строго отбираем преподавателей не только по уровню знаний, но и по тому, как хорошо они мотивируют ученика к росту.

    