.we-can-section.overflow-hidden-sm
    .we-can-section__container 
        h2.we-can-section__title Мы умеем объяснять и&nbsp;знаем, как&nbsp;раскрыть научный потенциал ученика
    .we-can-section__slider-container.swiper-container
        .we-can-section__slider-wrapper.swiper.js-slider
            .we-can-section__slider.swiper-wrapper
                .swiper-slide.we-can-section__slider-item
                    .we-can-section__image 
                        .we-can-section__image-inner
                            picture
                                source(srcset="img/we-can/item-1-md.webp", media="(min-width: 992px)")
                                source(srcset="img/we-can/item-1-sm.webp", media="(min-width: 767px)")
                                img(src="img/we-can/item-1.webp", alt="Картинка 1", width="288", height="163", loading="lazy")
                .swiper-slide.we-can-section__slider-item
                    .we-can-section__image 
                        .we-can-section__image-inner
                            picture
                                source(srcset="img/we-can/item-1-md.webp", media="(min-width: 992px)")
                                source(srcset="img/we-can/item-1-sm.webp", media="(min-width: 767px)")
                                img(src="img/we-can/item-1.webp", alt="Картинка 1", width="288", height="163", loading="lazy")
                .swiper-slide.we-can-section__slider-item
                    .we-can-section__image 
                        .we-can-section__image-inner
                            picture
                                source(srcset="img/we-can/item-1-md.webp", media="(min-width: 992px)")
                                source(srcset="img/we-can/item-1-sm.webp", media="(min-width: 767px)")
                                img(src="img/we-can/item-1.webp", alt="Картинка 1", width="288", height="163", loading="lazy")
                .swiper-slide.we-can-section__slider-item
                    .we-can-section__image 
                        .we-can-section__image-inner
                            picture
                                source(srcset="img/we-can/item-1-md.webp", media="(min-width: 992px)")
                                source(srcset="img/we-can/item-1-sm.webp", media="(min-width: 767px)")
                                img(src="img/we-can/item-1.webp", alt="Картинка 1", width="288", height="163", loading="lazy")
            .swiper-pagination
            .swiper-button-prev
                +svg("36", "36", "icon-arrow-round")
            .swiper-button-next
                +svg("36", "36", "icon-arrow-round")