section.header-section.header-section--about-us
    .header-section__top 
        include ../../header/header-transparent
    .header-section__container
        .header-section__main 
            .header-section__breadcrumbs 
                include ../../breadcrumbs/breadcrumbs
            .header-section__offer 
                .header-section__offer-text
                    h1.header-section__title Более 1000 учеников уже выбрали Wescience
                    p Мы создали WeScience, чтобы каждый желающий мог познакомиться с наукой, увидеть её красоту и улучшить свои знания. 
                .header-section__offer-image 
                    include ../../../assets/img/header-section/about-us.svg