section.header-section.header-section--english
    .header-section__top 
        include ../../header/header-transparent
    .header-section__container
        .header-section__main 
            .header-section__breadcrumbs 
                include ../../breadcrumbs/breadcrumbs
            .header-section__offer 
                .header-section__offer-text
                    h1.header-section__title 
                        | Тот самый язык, которого не нужно бояться
                        span.header-section__title-icon 
                            img(src="img/icons/english-lg.png", alt="Английский флаг", width="54", height="65")
                    p Начни изучать английский язык с WeScience уже сегодня. Оставь заявку на пробное занятие!
                .header-section__offer-form 
                    form.form(action="#", method="post") 
                        .form__group
                            +field("Номер телефона", "text", "phone")
                        +button("Оставить заявку") 
                .header-section__offer-image 
                    include ../../../assets/img/header-section/english.svg   