section.header-section.header-section--math
    .header-section__top 
        include ../../header/header-transparent
    .header-section__container
        .header-section__main 
            .header-section__breadcrumbs 
                include ../../breadcrumbs/breadcrumbs
            .header-section__offer 
                .header-section__offer-text
                    h1.header-section__title Стань самым сильным в классе по математике 
                    p Оставь заявку на пробное занятие и учись математике у&nbsp;призеров олимпиад МГУ и Физтеха!
                .header-section__offer-form 
                    form.form(action="#", method="post") 
                        .form__group
                            +field("Номер телефона", "text", "phone")
                        +button("Оставить заявку")
                .header-section__offer-image 
                    include ../../../assets/img/header-section/math.svg