section.article-section
    .article-section__container 
        .article-section__main 
            include ../../article-block/article-block-reverse
            span.article-section__divider-sm
            include ../../article-block/article-block
            