label.checkbox
    input(type="checkbox").checkbox__input-hidden
    span.checkbox__input
    span.checkbox__content 
        span.checkbox__content-color(style="background-color: #333B4E;")
        | Черный
