footer.footer
    .footer__container
        .footer__row
            .footer__info
                a.footer__logo(href='#')
                    img(src='img/logo/logo-white.svg' alt='WeScience')
                p.footer__about-team
                    | WeScience – команда преподавателей и единомышленников, которые помогают организовать научный досуг, доступный каждому.
            .footer__contacts
                .footer__contacts-text Если у вас есть вопросы – напишите нам!
                ul.footer__social-list
                    li.footer__social-item
                        a.footer__social-link(href='#' title='Telegram')
                            svg(width='48' height='48' aria-hidden='true')
                                use(xlink:href='img/sprite/sprite-social.svg#icon-telegram')
                    li.footer__social-item
                        a.footer__social-link(href='#' title='Whatsapp')
                            svg(width='48' height='48' aria-hidden='true')
                                use(xlink:href='img/sprite/sprite-social.svg#icon-whatsapp')
                    li.footer__social-item
                        a.footer__social-link(href='#' title='Viber')
                            svg(width='48' height='48' aria-hidden='true')
                                use(xlink:href='img/sprite/sprite-social.svg#icon-viber')
                    li.footer__social-item
                        a.footer__social-link(href='#' title='Messenger')
                            svg(width='48' height='48' aria-hidden='true')
                                use(xlink:href='img/sprite/sprite-social.svg#icon-messenger')
        .footer__rights-block
            .footer__rights-block-item.footer__rights-block-copyright
                .footer__copyright
                    | © 2019 WeScience. Все права защищиены.
            .footer__rights-block-item
                a.footer__link(href='#') Политика конфиденциальности
            .footer__rights-block-item
                a.footer__link(href='#') Договор оказания услуг и политика возвратов
