.article-block.article-block--reverse
    .article-block__image 
        img(src="img/article-block/thinking.svg", alt="Сначала физика шла легко, почему начались проблемы?",  width="170", height="156")
    .article-block__content 
        h2.article-block__title Сначала физика шла легко, почему начались проблемы?
        p.article-block__text 
            | Очень часто начала физики не вызывают больших проблем у школьников. Проблемы начинаются позже, при разборе более сложных тем, которым должно быть уделено больше внимания для серьезного 
            b понимания физических процессов. 
        p.article-block__text Поэтому важно не только механическое решение задач, но и разбор теории, времени на которую в школах часто не хватает.