.article-block.article-block
    .article-block__image 
        img(src="img/article-block/like.svg", alt="Как школьнику помогут занятия в Wescience?", width="150", height="160")
    .article-block__content 
        h2.article-block__title Как школьнику помогут занятия в Wescience?
        p.article-block__text На пробном занятии мы определим уровень ученика. Мы не будем делать это так, чтобы расстроить ученика или родителя. 
        p.article-block__text 
            | Наоборот – мы выделим те точки, над которыми нам нужно будет поработать как можно скорее, чтобы ученик приобрел 
            b уверенность в решении задач 
            | по физике и понимании связанной теории. 
        .article-block__button 
            +button("Узнать больше")