.article-block.article-block--lesson
    .article-block__content 
        h2.article-block__title Мы
        p.article-block__text WeScience создан, чтобы каждый желающий мог познакомиться с наукой, увидеть её красоту и улучшить свои знания. 
        p.article-block__text Мы разработали уникальные программы обучения для детей, школьников и взрослых таким образом, чтобы каждое занятие было максимально интересным.
    .article-block__image.article-block__image--gray.article-block__image--full
        img(src="img/article-block/logo-stroke.svg", alt="WeScience",  width="131", height="131")