.article-block.article-block--lesson
    .article-block__content 
        h2.article-block__title Как проходят наши занятия?
        p.article-block__text Мы проводим онлайн-занятия в Discord, чтобы преподаватель мог эффективно коммуницировать с учеником и демонстрировать экран в ходе занятия. 
        p.article-block__text Все занятия проходят в облачных сервисах, чтобы работа в ходе занятия не обуславливала высокую нагрузку на компьютер ученика. Вы всегда можете выбрать удобное время для занятий.
    .article-block__image.article-block__image--orange
        img(src="img/article-block/data-storage.svg", alt="Как проходят наши занятия?",  width="165", height="114")