.form-range 
    .form-range__header 
        .form-range__header-input-wrapper
            input(type="number" placeholder="0").form-range__header-input
        .form-range__header-input-wrapper
            input(type="number" placeholder="100").form-range__header-input
    .form-range__body 
        .form-range__bar-wrapper 
            button.form-range__button.form-range__button--left
            button.form-range__button.form-range__button--right
            .form-range__bar 
                .form-range__bar-inner 