.level-section
    .level-section__container
        h2.level-section__title Повышаем математический уровень и готовим к олимпиадам
        .level-section__row
            .level-section__col
                +level-card("level-card_tall level-card_blue level-card_bg-3", "button--white", "Повышение уровня", "Если у вас пробелы в школьном материале или есть непонимание определенных тем, то преподаватели MathLabs смогут повысить уровень учащегося.")
            .level-section__col
                +level-card("level-card_tall level-card_dark level-card_bg-4", "button--white", "Олимпиадная математика", "Мы победили в самых известных олимпиадах в России и точно знаем, как подготовить школьника к призовым местам. Это интересный путь, который сильно развивает математические способности.")
    