ul.breadcrumbs
    li.breadcrumbs__item 
        a.breadcrumbs__link(href="#")  
            | Главная
            span.breadcrumbs__link-icon 
                +svg(20,20,"icon-dropdown")
    li.breadcrumbs__item Английский язык