section.everything-section.everything-section--purple
    .everything-section__container
        h2.everything-section__title Все, что нужно для успешной подготовки к олимпиадам и сдаче экзаменов
        .grid
            .grid__col-6-sm
                +lesson-card("Олимпиадная математика", "Научим решать задачи, которые встречаются на олимпиадах. Разберем основные методы и подходы к решению.", "lesson-card--func")
            .grid__col-6-sm
                +lesson-card("Школьная программа", "Поможем разобраться с отдельными темами по математике, решим множество задач.", "lesson-card--sphere")
            .grid__col-6-sm
                +lesson-card("ЕГЭ по математике", "НПодготовим к сдаче ЕГЭ по математике. Сделаем упор на решение типовых сдач из профильной математики.", "lesson-card--sum")
            .grid__col-6-sm
                +lesson-card("Международные экзамены", "Готовитесь к сдаче GRE или математической части GMAT? Сможем улучшить баллы на сдаче этих экзаменов!", "lesson-card--art")